.formInput{
    display:block;
    margin-bottom: 15px;
}
.contentCenter{
    display:block;
    height: 100%;
    width: 200px;
    margin:auto;
    text-align: center;
}
input[type=submit]{
    width:100%;
    height: 40px;
    border-radius: 5px;

}
input{
    background-color:#F4FAFC;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.43);
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.43);
}
body{
    background-color: #FFEBD7;
}